<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7QD6CLpPJZwAV9lj6kvnD7k5hCf8bFSI</string>
	<key>GCM_SENDER_ID</key>
	<string>604819265317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfey.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-flutter-8a6e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-flutter-8a6e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604819265317:ios:516f08a7f40075508b6ccc</string>
</dict>
</plist>